/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/
body {
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    min-height: 100vh;
}

.card-oferta {
    max-width: 300px;
  max-height: 130px;
  min-height: 130px;
  min-width: 300px;
  overflow: hidden;
  border-radius: 10px !important;

  }

  .image-wrapper {
    border-radius: 50%;

    width: 70px;
    height: 70px;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
