<div class="card btn" *ngIf="rol == 1">
  <div class="dark card-oferta">
    <div class="card-body">
      <div class="col-md-12 align-items-center text-center">
        <img src="{{imagen}}" class="card-img-top" alt="">
      </div>
      <div class="col-md-12">
        <div class="div-texto align-items-center text-center">
          <span *ngIf="editar" class="eliminar-icon" (click)="eliminar()">&times;</span>
          <span *ngIf="!editar"class="unidades-icon">{{cantidad}}</span>

          <span class="vencimiento-icon"> {{fechaVencimiento}}</span>
          <p class="card-subtitle mt-2 ">{{ nombreProducto }}</p>
          <p class="card-text">{{ marca }}</p>
          <p class="card-text">{{nombreComercio}}</p>
          <p class="card-text ">${{precio}} | <span style="color: rgb(2, 53, 0); font-size: 22px;">${{calcularSubtotal(cantidad)}}</span></p>
          <div class="d-flex justify-content-between mt-4">
            <button *ngIf="editar" class="btn btn-primary" (click)="confirmarCambioMarca()">Elegir</button>
            <div *ngIf="editar" class="d-flex justify-content-center align-items-center cantidad-container">
              <!-- Botón para restar la cantidad -->
              <button class="cantidad-btn" (click)="restarCantidad()">-</button>
              
              <!-- Mostrar la cantidad actual -->
              <span class="cantidad">{{ cantidad }}u</span>
              
              <!-- Botón para sumar la cantidad -->
              <button class="cantidad-btn" (click)="sumarCantidad()">+</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card card-comercio" *ngIf="rol == 2">
  <div class="dark card-oferta">
    <div class="card-body">
      <div class="col-md-12 align-items-center text-center">
        <img src="{{imagen}}" class="card-img-top" alt="">
      </div>
      <div class="col-md-12">
        <div class="div-texto align-items-center text-center">
          <span class="vencimiento-icon"> {{fechaVencimiento}}</span>
          <p class="card-subtitle mt-2 ">{{ nombreProducto }}</p>
          <p class="card-text">{{ marca }}</p>
          <p class="card-text "><span style="color: rgb(2, 53, 0); font-size: 22px;">${{precio}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>