<!-- <div class="card" >
<div class="dark card-oferta">
 
  <div class="card-header d-flex justify-content-between ">
    
    <h5 class="card-subtitle mt-2 fw-bold text-body-tertiary">{{ nombreProducto }} x{{cantidad}} u.</h5>
      <ng-container>
        <button class="btn btn-info text-light boton-cambiar btn-sm" (click)="confirmarCambio()">Editar</button>
      </ng-container>

  </div>
  <div class="card-body d-flex justify-content-around">
    <img src="{{ imagen }}" class="card-img-top ms-1" alt="">
    <div class="text-section">
      
      <p class="card-text">{{ marca }}</p>
      <p class="card-text">{{ nombreComercio }}</p>
      <p class="card-text ">{{subtotal}} x {{cantidad}} u.</p>
      <p class="card-text">{{precio}} x 1u.</p>
    </div>
    
   
    
  </div>
</div>
</div> -->

<div class="card" >
  <div class="dark card-oferta">
   
    <div class="card-header d-flex justify-content-between ">
      
      <h5 class="card-subtitle mt-2 fw-bold text-body-tertiary">
        {{ nombreProducto }} x ${{precio}} 1u.</h5>
          
  <div>
    <!-- <button *ngIf="mostrarBoton!=true"  class="btn ms-1" 
        style="--bs-btn-padding-y: .30rem; --bs-btn-padding-x: .10rem; --bs-btn-font-size:22px;">
        <i class="bi bi-x-circle-fill text-danger"></i>
</button>
    <button *ngIf="mostrarBoton!=true" class="btn ms-1" 
    style="--bs-btn-padding-y: .30rem; --bs-btn-padding-x: .10rem; --bs-btn-font-size: 22px;">
    <i class="bi bi-check-circle-fill text-success"></i>
</button> -->

  </div>
  
  
    </div>
    <div class="card-body d-flex justify-content-around">
      <img src="{{imagen}}" class="card-img-top" alt="">
      <div class="d-flex flex-column me-5">
        
        <h5 class="card-title">{{ marca }}</h5>
        <p class="card-text">{{nombreComercio}}</p>
        <p class="card-text ">${{subtotal}} x {{cantidad}}</p>
        
      </div>
     
     
      
    </div>
    
  </div>
  </div>