h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif !important;
}

.card {
  max-width: 20em;
  background-color: white;
  color: black;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
  margin-bottom: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  min-width: 20em;
  min-height: 17em;
  border: none;
}
.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.text-section {
  max-width: 60%;
}
.cta-section {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.cta-section .btn {
  padding: 0.2em 0.5em;
  font-size: 1em;
  color: black;
}
.card-subtitle {
  font-size: 13px;
  color: rgb(81, 81, 81) !important;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
}
.card-header {
  background-color: #ffffff !important;
}
.card-title {
  font-size: 17px;
}

.card-text {
  font-size: 13px;
  margin: 0 !important;
}

.boton-cambiar {
  font-size: 10px;
}


.eliminar-icon {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 40px;
  color: red;
  cursor: pointer;
  pointer-events: auto;

}

.eliminar-icon:hover {
  color: darkred;
}

.cantidad-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.cantidad-btn {
  font-size: 20px;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cantidad-btn:hover {
  background-color: #ccc;
  color: #fff;
}

.cantidad {
  font-size: 18px;
  margin: 0 10px;
  font-weight: bold;
  color: #333;
}


.vencimiento-icon {
  position: absolute;
  top: 10px;
  padding: 5px 10px;
  left: 10px;
  border-radius: 15px;
  font-size: 12px;
  background-color: #1371b0;
  color: white;
}
.unidades-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  background-color: #1371b0;
  color: white;
  width: 30; /* Ajusta el ancho del círculo */
  height: 30px; /* Ajusta la altura del círculo */
  border-radius: 50%;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .card {
    max-width: 15em;
    margin-bottom: 20px;
    min-width: 15em;
  }

  .card img {
    margin-top: 10px;
    width: 80px;
    height: 100px;
  }

  .card-body {
    flex-direction: column;
    align-items: center;
  }

  .text-section {
    max-width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .cta-section {
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }

  .cta-section .btn {
    margin-top: 10px;
  }

  .card-subtitle {
    font-size: 13px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-text {
    font-size: 14px;
  }

  .div-texto {
    padding-left: 0;
    text-align: center;
  }
}
