
.contenedor{
  min-height: 100vh !important;
  background-image: url('/assets/images/patron.jpg');
  background-position: top center;
  background-size: contain;
  background-repeat: repeat;
  position: relative;
}
.card{
  margin-top: 5%;
  height: auto !important;
  border-radius: 5%;
}
.buttonnregistro{
  background-color: #025373 !important;
  color: white;
}
.botonAtras{
  border-color: #025373 !important;
  color: #025373 !important;
  background-color: white;
}
.modalRegistroCliente{
  background-color: #04bfbf;
  border-radius: 5%;
}
.modalRegistroComercio{
  background-color: #04bfbf;
  padding: 5%;
  border-radius: 5%;
}
.formComercio{
  border-radius: 5%;
}


input {
border-radius: 30px;
}

.borde {
border-radius: 30px;
}
