<section class="d-flex justify-content-center registro-usuario" *ngIf="mostrarRegistroComun">

  <div class="card bg-primary w-50 d-flex align-items-center m-4 borde">
      <article class="card-body mx-auto text-light align-items-center" style="max-width: 500px;">
        <h1 class="text-center mt-2 font-weight-bold"><strong>Disfrutá de los beneficios de Eventify</strong></h1>
          <h4 class="card-title mt-3 text-center ">Completá tus datos</h4>
          <!-- <p>
          <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
          <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
      </p>
      <p class="divider-text">
          <span class="bg-light">OR</span>
      </p> -->
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="userForm">
              <div class="form-group input-group ">
                <input name="nombre" class="form-control"  formControlName="nombre" placeholder="Ingrese su nombre" type="text">
              </div> <!-- form-group// -->
              <div class="alert alert-danger mt-1" [hidden]="nombre.valid || nombre.pristine">
                *El nombre es obligatorio
              </div>

              <div class="form-group input-group mt-3">
                <input name="apellido" class="form-control"  formControlName="apellido" placeholder="Ingrese su apellido" type="text">
              </div>
              <div class="alert alert-danger mt-1" [hidden]="apellido.valid || apellido.pristine">
                *El apellido es obligatorio
              </div>

              <div class="form-group input-group mt-3">
                  <input name="email" class="form-control" formControlName="email" placeholder="Email" type="email">
              </div> <!-- form-group// -->
              <div class="alert alert-danger mt-1" [hidden]="email.valid || email.untouched">
                <span *ngIf="email.errors?.['required']">
                  *El email es obligatorio
                </span>

                <span *ngIf="email.errors?.['email']">
                  *Ingresa un email valido
                </span>
              </div>

              <div class="form-group input-group mt-3">
                <input name="password" class="form-control" formControlName="password" placeholder="Crea una contraseña" type="password" tooltip="Debe tener entre 8-20 caracteres, contener letras, números y un carácter especial." tooltipPlacement="right">
              </div>

              <div class="alert alert-danger mt-1" [hidden]="password.valid || password.untouched">
                *La contraseña no tiene el formato solicitado
              </div>

              <div id="passwordHelpBlock" class="text-white-50 form-text">
                  Mínimo de 8 caracteres, 1 letra, 1 número, 1 carácter especial.
              </div> <!-- form-group// -->

              <div class="form-group input-group mt-3">
                  <input name="repeatPassword" class="form-control" formControlName="repeatPassword" placeholder="Repetí la contraseña" type="password">
              </div> <!-- form-group// -->
              <div *ngIf="userForm.hasError('mismatch') && (userForm.dirty || userForm.touched)" class="error-message text-white form-text">
                  Las contraseñas no coinciden
              </div>

              <div class="form-group  mt-3 d-flex flex-column align-items-center">
                  <button type="submit" class="btn btn-info text-light btn-block w-50 h-50 borde" [disabled]="userForm.invalid"> Registrarme </button>
                  <button class="btn btn-outline-light btn-block mt-2 w-50 h-50 borde" (click)="mostrarRegistroDeComercio()">Soy comercio</button>
              </div> <!-- form-group// -->

              <p class="text-center mt-5"><a class="text-light text-decoration-none"
                      href="/login">Ya tenés una cuenta? Iniciar sesión</a> </p>

              <div class="alert alert-success" *ngIf="status == 'success'">
                Te registraste correctamente. <a [routerLink]="['/login']"> Inicia sesion! </a>
              </div>
              <div class="alert alert-danger" *ngIf="status == 'error'">
                El email ingresado ya está siendo utilizado.
              </div>
          </form>
      </article>
  </div>

</section>


<section class="d-flex justify-content-center registro-comercio" *ngIf="mostrarRegistroComercio">


  <div class="card bg-primary w-50 d-flex align-items-center mb-2">
      <article class="card-body mx-auto text-light" style="max-width: 400px;">
          <h4 class="card-title mt-3 text-center ">Registrarme</h4>
          <p class="text-center">Empezá a publicar tus ofertas y aumentar tus ventas</p>
          <!-- <p>
              <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
              <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
          </p>
          <p class="divider-text">
              <span class="bg-light">OR</span>
          </p> -->
          <form>
              <div class="form-group input-group ">
                  <input name="" class="form-control" placeholder="Nombre completo" type="text">
              </div> <!-- form-group// -->

              <div class="form-group input-group  mt-3">
                  <input name="" class="form-control" placeholder="Nombre del comercio" type="text">
              </div> <!-- form-group// -->
              <div class="form-group input-group  mt-3">
                  <input name="" class="form-control" mask="00-00-00" placeholder="CUIT" type="text">
              </div> <!-- form-group// -->
              <div class="form-group input-group  mt-3 ">
                  <!-- <app-direccion-autocompletado></app-direccion-autocompletado> -->
              </div>
              <div class="form-group input-group mt-3">
                  <input name="" class="form-control" placeholder="Email" type="email">
              </div> <!-- form-group// -->

              <div class="form-group input-group mt-3">

                  <input class="form-control" placeholder="Creá una contraseña" type="password">
              </div>
              <div id="passwordHelpBlock" class="text-white-50 form-text">
                  Debe tener entre 8-20 caracteres, contener letras, numeros y un caracter especial.
              </div> <!-- form-group// -->
              <div class="form-group input-group mt-3">

                  <input class="form-control" placeholder="Repetí la contraseña" type="password">
              </div> <!-- form-group// -->
              <div class="form-group mt-3 d-flex justify-content-center">

                  <button type="submit" class="btn btn-info text-light btn-block">Registrarme</button>

              </div>
              <!-- form-group// -->
              <p class="text-center mt-3">Ya tenés una cuenta? <a class="text-light text-decoration-none"
                      href="">Iniciar sesión</a> </p>
          </form>
      </article>
  </div>
</section>
