
.contenedor{
  min-height: 100vh !important;
  background-image: url('/assets/images/patron.jpg');
  background-position: top center;
  background-size: contain;
  background-repeat: repeat;
  position: relative;
  
}
.card{
  margin-top: 3%;
  margin: 3%;
  height: auto !important;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

}
.buttonnregistro{
  background-color: #025373 !important;
  color: white;
}
.botonAtras{
  border-color: #025373 !important;
  color: #025373 !important;
  background-color: white;
}
.modalRegistroCliente{
  background-color: #04bfbf;
  border-radius: 15px;
}
.modalRegistroComercio{
  background-color: #04bfbf;
  padding: 5%;
  border-radius: 15px;
}
.formComercio{
  border-radius: 15px;
}


input {
border-radius: 30px;
}

.borde {
border-radius: 15px;
}
.icon-email{
 font-size: 50px !important;
}
