
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex justify-content-between align-items-center">

    <div id="logo">
      <a href="index.html"></a>
    </div>
    
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="/">Inicio</a></li>
        <li><a class="nav-link scrollto" href="#team">Sobre nosotros</a></li>
        <li><a class="nav-link scrollto" routerLink="consulta-evento">Armá tu lista</a></li>

        <li *ngIf="sessionAuthenticated === 'auth' && rolUsuario == 'Usuario'"><a class="nav-link scrollto" href="perfil-usuario">Mi perfil</a></li>
        <li *ngIf="sessionAuthenticated === 'auth' && rolUsuario == 'Comercio'"><a class="nav-link scrollto" href="perfil-comercio">Mi perfil</a></li>
        <li *ngIf="sessionAuthenticated === 'auth'"><a class="nav-link scrollto" data-bs-toggle="modal" data-bs-target="#cerrarSesion" href="login">Cerrar sesión</a></li>
        <li *ngIf="sessionAuthenticated !== 'auth'"><a class="nav-link scrollto" href="login">Iniciar sesión</a></li>
        <li *ngIf="sessionAuthenticated !== 'auth'"><a class="nav-link scrollto" href="form-registro">Registrarse</a></li>
        

      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
<div class="modal fade" id="cerrarSesion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cerrar sesión</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea cerrar sesión?
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-outline-info" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" (click)="onCerrarSesion()" class="btn btn-info text-light" data-bs-dismiss="modal">Si, cerrar sesión</button>
      </div>
    </div>
  </div>
</div>