
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex justify-content-between align-items-center">

    <div id="logo">
      <a href="index.html"></a>
    </div>
    
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active " routerLink="">Inicio</a></li>
        <!-- <li><a class="nav-link scrollto" routerLink="#team">Sobre nosotros</a></li> -->
        <li *ngIf="currentUser.rol == 'Usuario' || currentUser.rol == '' || !currentUser "><a class="nav-link scrollto" routerLink="consulta-evento">Armá tu lista</a></li>



        <li *ngIf="sessionAuthenticated === 'auth' && currentUser.rol == 'Comercio'"><a class="nav-link scrollto" routerLink="perfil-comercio">Mi perfil<img src="./assets/images/perfil-comercio.jpg" alt="" style="width: 30px; margin-left: 15px;"></a></li>
        <li *ngIf="sessionAuthenticated === 'auth' && currentUser.rol == 'Usuario'"><a class="nav-link scrollto" routerLink="perfil-usuario">Mi perfil<img src="./assets/images/perfil.jpg" alt="" style="width: 30px; margin-left: 15px;"></a></li>

        <li *ngIf="sessionAuthenticated === 'auth' && currentUser.rol != '' "><a class="nav-link scrollto btn" data-bs-toggle="modal" data-bs-target="#cerrarSesion" >Cerrar sesión</a></li>
        <li *ngIf="sessionAuthenticated !== 'auth' && !currentUser "><a class="nav-link scrollto" routerLink="login">Iniciar sesión</a></li>
        <li *ngIf="sessionAuthenticated !== 'auth' && !currentUser "><a class="nav-link scrollto" routerLink="form-registro">Registrarse</a></li>
    <!--     <li class="nav-link scrollto"><a href="https://www.instagram.com/_eventify2023/"><i class="fab fa-instagram icon-large"></i></a></li> 
        <li class="nav-link scrollto"><a href="https://twitter.com/eventifyar/"><i class="fab fa-twitter icon-large"></i></a></li>
 -->
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
<div class="modal fade" id="cerrarSesion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cerrar sesión</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea cerrar sesión?
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-outline-info" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" (click)="onCerrarSesion()" class="btn btn-info text-light" data-bs-dismiss="modal">Si, cerrar sesión</button>
      </div>
    </div>
  </div>
</div>

