<!-- MultiStep Form -->

<div class="container-fluid d-flex contenedor-general justify-content-center" id="grad1">
    <div class="col-md-2 mateo d-flex justify-content-end d-none d-md-block ms-3">
    <img  src="{{ sImg }}" alt="" height="500px" />
    </div>
    <div class="col-md-8 col-xs-12 col-sm-6 d-flex justify-content-center">
        <div class="col-12 col-sm-9 col-md-12 col-lg-6 text-center p-3 mt-4 mb-2">
            
            <div class="card px-0 pt-4 pb-0 mt-3 shadow"*ngIf="bMostrarQueCompraQueresRealizar">
                <h3 class="textQueCompra"><strong>¿Qué compra querés realizar?</strong></h3>

                <div class="row contenedorPaddingMobile">
                    <div class="col-md-12 mx-0">
                        <form id="msform">
                            <!-- progressbar -->
                            <ul id="progressbar" class="mb-4" >
                                <li data-aos="zoom-in"class="active" [class.active]="isActiveEvento" id="eventos"><strong>Evento</strong>
                                </li>
                                <li data-aos="zoom-in"id="comidas" [class.active]="isActiveComida"><strong>Comidas</strong></li>
                                <li data-aos="zoom-in"id="bebidas" [class.active]="isActiveBebida"><strong>Bebidas</strong></li>
                                <li data-aos="zoom-in"id="invitados" [class.active]="isActiveInvitados"><strong>Invitados</strong></li>
                                <li data-aos="zoom-in"id="ubicacion" [class.active]="isActivePreguntaUbicacion"><strong>Ubicacion</strong>
                                </li>
                            </ul>
                            <!-- fieldsets  -->
                            <fieldset class="mt-4" *ngIf="bMostrarPreguntaQueTipoDeEvento">
                                <label class="form-label">Selecciona un evento</label>
                                <div class="row flex-nowrap justify-content-center">

                                    <div class="w-auto p-3 d-flex flex-column align-items-center justify-content-center mt-3"
                                        *ngFor="let evento of aListaEventos">
                                        <button data-aos="zoom-in" class="icon-circle mr-3 shadow" id="botonCercano"
                                            data-bs-toggle="tooltip" [title]="evento.nombre"
                                            (click)="mostrarTiposDeComida(evento.id)">
                                            <img [src]="'assets/icons/' + evento.nombre + '.svg'" class="icon-img" />
                                        </button>
                                        <p class="text-center nombreEvento text-wrap mt-2">{{
                                            evento.nombre
                                            }}</p>
                                    </div>
                                </div>
                            </fieldset>


                            <fieldset class=" form-group d-flex flex-column align-items-center justify-content-center"
                                *ngIf="bMostrarPreguntaQueTipoDeComida">



                                <label class="form-label">¿Qué tipo de comidas querés ofrecer?</label>
                                <div class="row d-flex justify-content-center">
                                    <div class="w-auto p-3 d-flex flex-column align-items-center justify-content-center mt-3"
                                        *ngFor="let comida of aTiposDeComidas">
                                        <input type="checkbox" class="btn-check" autocomplete="off"
                                            value="{{ comida.id }}" />
                                        <label class="btn" for="btn-check">
                                            <button data-aos="zoom-in" id="btn-check{{ comida.id }}"
                                                class="icon-circle mr-3 align-items-center buttonSelects"
                                                data-bs-toggle="button" [title]="comida.nombre"
                                                (click)="onSeleccionComida(comida.id)">
                                                <img [src]="'assets/icons/' + comida.nombre + '.svg'" alt="Icono"
                                                    class="icon-img" />
                                            </button>
                                        </label>

                                        <span class="text-center nombreEvento text-wrap mt-2">{{
                                            comida.nombre
                                            }}</span>
                                    </div>
                                </div>
                                <div class="d-flex row align-items-around  flex-nowrap justify-content-center" >
                                    <button type="button" class="btn w-auto btn-outline-info "
                                        (click)="volverAEvento()">
                                        Anterior
                                    </button>
                                    <button type="button" [disabled]="isButtonDisabledContinuar" class="btn w-auto btn-info text-light ms-3"
                                        (click)="mostrarTiposDeBebida()">
                                        Confirmar
                                    </button>
                                </div>

                            </fieldset>
                            <!-- Pregunta tipo de bebida -->
                            <fieldset *ngIf="bMostrarPreguntaQueTipoDeBebida">
                                <div class="form-group d-flex flex-column align-items-center justify-content-center">
                                    <label class="form-label ">¿Qué tipo de bebidas querés ofrecer?</label>
                                    <div class="row">
                                        <div class="w-auto p-3 d-flex flex-column align-items-center justify-content-center mt-3"
                                            *ngFor="let bebida of aTiposDeBebidas">
                                            <button data-aos="zoom-in" class="icon-circle mr-3" id="btn-checkBebida{{ bebida.id }}"
                                                data-bs-toggle="tooltip" [title]="bebida.tipoBebida"
                                                data-bs-placement="top" (click)="onSeleccionBebida(bebida.id)">
                                                <img [src]="'assets/icons/' + bebida.tipoBebida + '.svg'" alt="Icono"
                                                    class="icon-img" />
                                            </button>
                                            <span class="nombreEvento text-center text-wrap mt-2">{{
                                                bebida.tipoBebida
                                                }}</span>
                                        </div>
                                    </div>
                                    <div class="d-flex row align-items-around  flex-nowrap justify-content-center" >
                                        <button type="button" class="btn w-auto btn-outline-info ms-3"
                                            (click)="volverATipoDeComida()">
                                            Anterior
                                        </button>
                                        <button type="button" [disabled]="isButtonDisabledContinuar"  class="btn w-auto btn-info text-light ms-3"
                                            (click)="mostrarPreguntaCantidadPersonas()">
                                            Confirmar
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="form-group justify-content-center align-content-center"
                                *ngIf="bMostrarPreguntaCantidadComensales">
                                <label class="form-label">Indique la cantidad de invitados</label>

                                <div class="form-group w-auto p-3 d-flex flex-column align-items-center justify-content-center mt-3"
                                    style="width: 100px">
                                    <input data-aos="zoom-in" type="number" class="form-control w-25"
                                        [(ngModel)]="oSelecciones.nCantidadComensales" name="nCantidadComensales"
                                         id="number" min="1"
                                        oninput="event.target.value = event.target.value.replace(/[^1-9]*/g,'');"
                                        required (input)="onComensalesChange($event)" />
                                    <br>
                                    <div class="d-flex row align-items-around  flex-nowrap justify-content-center" >
                                        <button type="button" class="btn w-auto btn-outline-info"
                                            (click)="volverATipoBebida()">
                                            Anterior
                                        </button>
                                        <button type="button" [disabled]="isButtonDisabledContinuar" class="btn w-auto btn-info text-light ms-3"
                                            (click)="mostrarMapaRadio()" data-bs-toggle="modal" data-bs-target="#modalUbicacion">
                                            
                                            Confirmar
                                        </button>
                                    </div>
                                </div>

                            </fieldset>
                            <fieldset class="preguntaUbicacion p-3" *ngIf="bMostrarPreguntaUbicacion">
                                <div class="form-group justify-content-center align-content-center">
                                    <label class="form-label labelMapa">Indique el rango de distancia a buscar según su
                                        ubicación:</label>
                                    <app-mapa data-aos="zoom-in" *ngIf="bMostrarPreguntaUbicacion" [slider]="true"
                                        (valorRadioEnviado)="capturarValorRadio($event)"
                                        (ubicacionActualLatitud)="capturarLatitud($event)"
                                        (ubicacionActualLongitud)="capturarLongitud($event)"></app-mapa>
                                </div>
                                <div class="row" *ngIf="bMostrarPreguntaUbicacion">
                                    <div class="d-flex row align-items-around  flex-nowrap justify-content-center mt-3" >
                                            <button type="button" class="btn w-auto btn-outline-info p-2"
                                                (click)="volverAPregCantidadComensales()">
                                                Anterior
                                            </button>
                                        <button type="button" class="btn w-auto btn-info text-light ms-3 p-2" (click)="consultar()">
                                            Consultar lista
                                        </button>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>
            <!-- Lista de productos -->
            <div class="card px-0 pt-4 pb-0 mt-3" *ngIf="bMostrarListaDeProductos" >
                <div class="row">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="titulo-formulario d-flex flex-column justify-content-center">
                            <div class="icon-circle">
                                <img [src]="'assets/icons/CanastaCompras.svg'" alt="Icono" class="icon-canasta" />
                            </div>
                            <h3><strong>Tu lista de compras:</strong> </h3>
                            <div class="linea-titulo"></div>
                        </div>
                        <div>
                            <p class=" fs-6 text-center">*Las cantidades son aproximadas</p>
                        </div>
                        <div class="text-center" *ngIf="bMostrarLoading" >
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div class="w-auto scrollable-list" data-aos="zoom-in">
                            <ul class="list-group list-group-dark  p-3 mx-auto">
                                <li class="list-group-item d-flex justify-content-between p-2 align-items-center"
                                    *ngFor="let productoLista of aListaDeCompras">
                                    <p class="fs-6">{{ productoLista.nombre }}</p>
                                    <span class="badge  rounded-pill ms-3"
                                        style="color: white; font-size: 10px; background-color: rgb(209, 95, 13); padding: 10px;"
                                        *ngIf="productoLista.seManejaPorUnidades">
                                        {{ productoLista.unidades }} {{ productoLista.medida }}
                                    </span>
                                    <span class="badge badge-primary rounded-pill ms-3"
                                        style="color: white; font-size: 10px; background-color: rgb(209, 95, 13); padding: 10px;"
                                        *ngIf="!productoLista.seManejaPorUnidades">
                                        {{ productoLista.peso }} {{ productoLista.medida }}
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-container d-flex justify-content-center mt-3 mb-3">
                            <button type="button" class="btn w-auto btn-info text-light ms-3 p-2" (click)="verOfertas()">
                                Ver ofertas
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Modal Resumen-->
<div
  class="modal fade"
  id="modalUbicacion"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <h1>Necesitamos tu ubicación para buscar las ofertas de la zona</h1>
        <img src="./assets/images/permiso-ubicacion.png" alt="" class="imagen-ubicacion">
       
        <p>Podrás desactivarlo luego</p>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-bs-dismiss="modal">
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>