<!-- ======= Sección Principal ======= -->
<section id="hero">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <img src="assets/images/isotipo-blanco.png" alt="" class="isotipo" />
    <img src="assets/images/logotipo-blanco.png" alt="" class="logotipo" />
    <!-- <h1>Eventify</h1> -->
    <h2 class="slogan">Tu asistente de compras para eventos: <br>
      las mejores ofertas cerca tuyo.</h2>
    <h2 *ngIf="currentUser" >Bienvenido/a {{currentUser.usuario}}</h2>
    <a routerLink="/consulta-evento" class="btn-info boton-comenzar">Comenzar</a>
  </div>
</section>
<!-- End Sección Principal -->
<main id="main">
  <!-- ======= Sección Mateo ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row about-container div-mateo">
        <div class="col-lg-6 content order-lg-1 order-2">
          <h3 class="title">Mateo: tu asistente virtual</h3>
          <br />
          <br />

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-dollar-sign fa-lg"></i></div>
            <h4 class="title">Ahorrá dinero</h4>
            <p class="description">
              Te mostrará las mejores ofertas de la zona.
            </p>
          </div>
          <br />
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="far fa-clock"></i></div>
            <h4 class="title">Ahorrá tiempo</h4>
            <p class="description">Te indicará el recorrido más óptimo.</p>
          </div>
          <br />
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="far fa-smile-beam fa-lg"></i></div>
            <h4 class="title">Ahorrate el estrés</h4>
            <p class="description">
              Elegí el evento que quieras organizar, él hará el resto.
            </p>
            <br />
          </div>
          <div class="icon-box div-boton-armar" data-aos="fade-up" data-aos-delay="300">
            <a routerLink="/consulta-evento" class="btn-info arma-tu-lista"
              >Armá tu lista</a
            >
          </div>
        </div>
        <div
          class="col-lg-6 background order-lg-2 order-1"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <img src="assets/images/asistente-virtual.png" alt="" class="mateo"/>
        </div>
      </div>
    </div>
  </section>
  <!-- End Sección Mateo -->

  <!-- ======= Sección Listas ======= -->
  <!-- <section id="facts">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Logros</h3>
        <p class="section-description">
          Estamos constantemente mejorando la experiencia del usuario y
          brindando mejores soluciones.  
        </p>
      </div>
      <div class="row counters">
        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="2410"
            data-purecounter-duration="2"
            class="purecounter"
          ></span>
          <p>Clientes activos</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="3680"
            data-purecounter-duration="2"
            class="purecounter"
          ></span>
          <p>Ofertas publicadas</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="14410"
            data-purecounter-duration="2"
            class="purecounter"
          ></span>
          <p>Listas generadas</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="2170"
            data-purecounter-duration="2"
            class="purecounter"
          ></span>
          <p>Comercios Adheridos</p>
        </div>
      </div>
    </div>
  </section> -->
  <!-- End Sección Listas -->

  
  <section id="about" class="personaliza-section">
    <div class="container" data-aos="fade-up">
      <div class="row about-container">
        <div class="col-lg-12">
          <h3 class="section-title">¡Personalizá y guardá tus listas al instante!</h3>
          <div data-aos="fade-up" data-aos-delay="100">
            <div class="icon"></div>
            <p class="section-description" style="text-align: center;">
              Nuestro algoritmo de recomendaciones se irá ajustando para dar recomendaciones más precisas.
            </p>
          </div>
        </div>
        <div class="col-lg-12" style="display: flex; justify-content: center;" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/images/lista-compra.jpg" alt="" class="lista-compra"/>
        </div>
        
      </div>
    </div>
  </section>
  <!-- ======= Sección Eventos ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Eventos</h3>
        <p class="section-description">
          Elegí el evento que quieras organizar y te ofreceremos los productos adecuados.
        </p>
      </div>

      <div
        class="row portfolio-container"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img
            src="/assets/images/evento-2.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <p>Asado con amigos</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img
            src="/assets/images/evento-1.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <p>Cumpleaños</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img
            src="/assets/images/evento-fiesta.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <p>Fiesta</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img
            src="/assets/images/evento-cena.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <p>Comida en familia</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img
            src="/assets/images/evento-festivo.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <p>Evento festivo</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img
            src="/assets/images/evento-casamiento.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <p>Casamiento</p>
          </div>
        </div>

        
      </div>
    </div>
  </section>
  <!-- End Sección Eventos -->

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action">
    <div class="container">
      <div class="row" data-aos="zoom-in">
      </div>
    </div>
  </section>
  <!-- End Call To Action Section -->

  <!-- ======= Sección Comercios ======= -->
  <section id="contact">
    <div class="container">
      <div class="section-header">
        <h3 class="section-title">¿Tenés un comercio?</h3>
        
        <p class="section-description">Registrate y publicá tus ofertas.</p>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row justify-content-center registro-comercio">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <img
              src="assets/images/registrar-logo.png"
              alt=""
              class="logo-registro-comercio"
            />
            <h1>Registrate</h1>
            <p>
              Llená el formulario con los datos de tu comercio
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <img
              src="assets/images/verificar-logo.png"
              alt=""
              class="logo-registro-comercio"
            />
            <h1>Analizaremos</h1>
            <p>
              Vamos a corroborar tus datos para verificar que sos un comercio
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <img
              src="assets/images/publicar-logo.png"
              alt=""
              class="logo-registro-comercio"
            />
            <h1>Publicá tus ofertas</h1>
            <p>Una vez que estés habilitado, ya podrás publicar tus ofertas</p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 text-center" data-aos="zoom-in">
          <br>
          <a routerLink="form-registro" class="btn btn-info arma-tu-lista">Quiero publicar</a>

          
        </div>
      </div>
    </div>
  </section>
  <!-- End Sección Comercios -->

  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row about-container">
        <div class="col-lg-6 content order-lg-1 order-2">
          <h3 class="section-title">Obtené mayor visibilidad</h3>

          <div data-aos="fade-up" data-aos-delay="100">
            <div class="icon"></div>
            <p class="section-description" >
              Apoyamos a los comercios locales publicando
              sus ofertas en nuestra plataforma.
              Haz que tus clientes cercanos se enteren de
              tus promociones y aumenta tus ventas, sin
              grandes costos en publicidad o marketing.
            </p>
            <img
              src="assets/images/potencia-comercio2.png"
              alt=""
              class="logo-seccion-comercio"
            />
          </div>
        </div>
        <div
          class="col-lg-6 background order-lg-2 order-1"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <img src="assets/images/potencia-comercio.png" alt="" class="logo-seccion-comercio"/>
        </div>
      </div>
    </div>
  </section>


  <!-- ======= Sección Team ======= -->
  <section id="team">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Nuestro Equipo</h3>
        <br />
        <p class="section-description">
          Trabajamos día a día en brindarte la mejor solución a tus necesidades.
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-2 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="pic">
              <img src="assets/images/perfil-alexis.jpeg" alt="" />
            </div>
            <h4>Alexis Verba</h4>
            <span>Full Stack Developer</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="pic">
              <img src="assets/images/perfil-carli.jpeg" alt="" />
            </div>
            <h4>Carla Galeano</h4>
            <span>Frontend Developer</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="pic">
              <img src="assets/images/perfil-diego.jpeg" alt="" />
            </div>
            <h4>Diego Lopez</h4>
            <span>Backend Developer</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <div class="pic">
              <img src="assets/images/perfil-fabri.jpeg" alt="" />
            </div>
            <h4>Fabrizio Franco</h4>
            <span>Frontend Developer</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <div class="pic">
              <img src="assets/images/perfil-scar.jpeg" alt="" />
            </div>
            <h4>Scarlet Cortes Valdes</h4>
            <span>Backend Developer</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
 -->
