

<div class="card">
  <div class="dark card-oferta">
    <div class="card-header d-flex justify-content-between">
      <h5 class="card-subtitle mt-2 fw-bold text-body-tertiary">{{ nombreProducto }}</h5>
    </div>
    <div class="d-flex">
      <div class="card-body">
        <img src="{{imagen}}" class="card-img-top" alt="">
        <div class="d-flex flex-column div-texto">
          <p class="card-text">{{ marca }}</p>
          <p class="card-text">{{nombreComercio}}</p>
          <p class="card-text ">${{precio}} x u | <span style="color: rgb(2, 53, 0); font-size: 22px;">${{subtotal}} x {{cantidad}}u</span></p>
        </div>
      </div>
      </div>
    </div>
  </div>
