<div class="card dark card-oferta">
    <img src="{{ imagen }}" class="card-img-top ms-1" alt="">
    <div class="card-body">
      <div class="text-section">
        <h5 class="card-title fw-bold">{{ nombreProducto }} x {{cantidad}}</h5>
        <p class="card-text">{{ marca }}</p>
        <p class="card-text">{{ nombreComercio }}</p>
        <div>$ {{ subtotal }} x {{cantidad}}u.</div>
      </div>
      <div class="cta-section">
        <div>$ {{ precio }} x 1u.</div>
      </div>
    </div>
  </div>