
<div class="container-fluid div-optimizador">
  <div class="row">
    <div class="col-xl-7">
      <div class="container">

        <!-- Pestañas -->
        <ul class="nav nav-tabs nav-justified d-flex">
          <li class="nav-item mr-1 active">
            
            <button
              (click)="mostrarContenidoMasEconomico()"
              class="nav-link  text-white tab-mas-economico"
              [class]="masEconomicoActivo"
              data-toggle="tab"
            >
              Más Económico
            </button>
          </li>
          <li class="nav-item ml-1">
            <button
              (click)="mostrarContenidoMenorRecorrdio()"
              class="nav-link  text-white tab-menor-recorrido"
              [class]="menorRecorridoActivo"
              data-toggle="tab"
            >
              Menor Recorrido
            </button>
          </li>
        </ul>

        <!-- Div lista general -->
        <div class="tab-content shadow-lg">
          <!-- Div mas economico -->
          <div
            class="tab-pane fade show bg-white text-dark active"
            *ngIf="divContenidoListaMasEconomico"
          >
          <div class="container">
          <div class="row div-mas-economico  scrollable-list activo">
            <div class="div-oferta" *ngIf="aListaProductos.length > 0">
              <div class="row">
                <div class="col-md-6" *ngFor="let producto of aListaProductos; let i = index">
                  <app-card-oferta
                    class="d-flex justify-content-center"
                    (click)="abrirModalConOfertas(producto)"
                    [nombreProducto]="producto.ofertas[0].oferta.nombreProducto"
                    [marca]="producto.ofertas[0].oferta.marca"
                    [precio]="producto.ofertas[0].oferta.precio"
                    [nombreComercio]="producto.ofertas[0].oferta.nombreComercio"
                    [imagen]="producto.ofertas[0].oferta.imagen"
                    [subtotal]="producto.ofertas[0].subtotal"
                    [cantidad]="producto.ofertas[0].cantidad"
                    [fechaVencimiento]="producto.ofertas[0].oferta.fechaVencimiento"
                    [idProducto]="producto.ofertas[0].oferta.idPublicacion"
                    [oferta]="producto.ofertas[0]"
                    [editar]="false"
                    [i]="i"
                    [rol]="1"
                  ></app-card-oferta>
                </div>
                
              </div>
            </div>
            
            <div class="div-oferta scrollable-list d-flex flex-column align-items-center" *ngIf="aListaProductos.length === 0">
              <h1>No se encontraron ofertas en su zona</h1>
              <p>Amplía el radio de búsqueda</p>
              <button class="btn btn-info" routerLink="/consulta-evento" >Volver a consultar</button>
              <img src="./assets/images/asistente-transparente-triste.png" class="mt-4" alt="" style="width: 250px;">
            </div>
            

          </div>
          </div>
          </div>

          <!-- Div menor recorrido -->
          <div
            class="tab-pane fade show bg-white text-dark active"
            *ngIf="divContenidoListaMenorRecorrido"
          >
          <div class="container">
            <div class="row div-menor-recorrido scrollable-list activo" *ngIf="aListaSeleccionComercio.length > 0">
              <div class="col-md-4">
                <div class="tab-content">
                  <div class="d-flex flex-column" *ngFor="let comercio of aListaComercios; let i = index">
                    <div class="text-center mb-5">
                      <div class="py-5 px-4 card-redondeada-full btn-comercio" id="boton{{ comercio.nombreComercio }}" (click)="onClickVerListaDeComercio(comercio, i)" [class.active]="activeButton === i" [ngClass]="{'btn-active': activeButton === i}">
                        <div class="text-center">
                          <div class="rounded-circle img-container">
                            <img src="{{ comercio.imagenComercio }}" alt="" class="img-fluid rounded-circle img-thumbnail shadow-sm">
                          </div>
                        </div>
                        <br>
                        <h5 class="mb-0">Total: ${{ comercio.total }}</h5>
                        <span class="mb-0">{{ comercio.nombreComercio }}</span>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              
              <div class="col-md-8">
                <div class="tab-content">
                  <div *ngIf="isOpenListaSeleccionComercio">
                    <div class="row">
                      <div class="col" *ngFor="let producto of aListaSeleccionComercio; let i = index">
                        <div class="d-flex justify-content-center">
                          <app-card-oferta
                            [nombreProducto]="producto.oferta.nombreProducto"
                            [marca]="producto.oferta.marca"
                            [precio]="producto.oferta.precio"
                            [cantidad]="producto.cantidad"
                            [subtotal]="producto.subtotal"
                            [fechaVencimiento]="producto.oferta.fechaVencimiento"
                            [nombreComercio]="producto.oferta.nombreComercio"
                            [imagen]="producto.oferta.imagen"
                            [rol]="1"
                          >
                          </app-card-oferta>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="row div-oferta scrollable-list div-menor-recorrido d-flex align-items-center justify-content-center" *ngIf="aListaSeleccionComercio.length === 0">
              <div class="col-md-12 text-center d-flex flex-column align-items-center">
                <h1>No se encontraron ofertas en su zona</h1>
                <p>Amplía el radio de búsqueda</p>
                <button class="btn btn-info" routerLink="/consulta-evento" >Volver a consultar</button>
                <img src="./assets/images/asistente-transparente-triste.png" class="mb-4 mt-4" alt="" style="width: 250px;">
              </div>
            </div>
            
            
            
          </div>
          
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-5" >


      <div class="row d-flex justify-content-center align-items-center" >
        <div (click)="mostrarContenidoMasEconomico()" class="col-12 col-xl btn-pestaña-1 card-redondeada card-redondeada-2 escenarioMasEcomonico mx-2 mw-100" [class]="masEconomicoActivo">
          <div class="row">
            <!-- <div class="col-12 d-flex justify-content-center align-items-center text-align-center mb-4">
              <img src="../../../../assets/images/comparar-mas-economico2.jpg" alt="Imagen" class="imagen-izquierda" />
            </div> -->
            <div class="col-12 contenido-derecha text-light justify-content-center align-items-center text-align-center">
              <p class="textoEnBoton">
                Ofertas encontradas: {{ cantidadOfertasMasEconomico }}
              </p>
              <p class="textoEnBoton">
                Distancia a recorrer: {{ distanciaMasEconomico }}
              </p>
              <p class="textoEnBoton">
                Comercios: {{ cantidadComerciosMasEconomico }}
              </p>
              <div class="linea-titulo"></div>
              <strong class="total">
                Total: ${{ totalMasEconomico }}
              </strong>
            </div>
          </div>
        </div>
        

        <div (click)="mostrarContenidoMenorRecorrdio()" class="col-12 col-xl btn-pestaña-2 card-redondeada card-redondeada-2 escenarioMenorRecorrido mx-2 mw-100" [class]="menorRecorridoActivo">
          <div class="row">
           <!--  <div class="col-12 d-flex justify-content-center align-items-center text-align-center mb-4">
              <img src="../../../../assets/images/comparar-menor-recorrido.jpg" alt="Imagen" class="imagen-izquierda" />
            </div> -->
            <div class="col-12 contenido-derecha text-light justify-content-center align-items-center text-align-center">
              <p class="textoEnBoton">
                Ofertas encontradas: {{ cantidadOfertasMenorRecorrido }}
              </p>
              <p class="textoEnBoton">
                Distancia a recorrer: {{ distanciaMenorRecorrido }}
              </p>
              <p class="textoEnBoton">
                Comercios: {{ cantidadComerciosLista }}
              </p>
              <div class="linea-titulo"></div>
              <strong class="total">
                Total: ${{ totalListaDeComercio }}
              </strong>
            </div>
          </div>
          
        </div>
      </div>
      
      



 <!-- mapa -->
 <div class="mt-4">
  <app-mapa
   [valorRadioElegido]="radioElegido"
   [slider]="false"
   (valorRadioEnviado)="capturarValorRadio($event)"
 ></app-mapa>
</div>
      

      <!-- Button trigger modal -->
      <div class="d-flex justify-content-center align-items-center" *ngIf="currentUser">
        <button
          (click)="ordenarListas()"
          type="button"
          class="btn btn-primary boton-resumen"
          data-bs-toggle="modal"
          data-bs-target="#modalCompararEscenarios"
        >
          Comparar Listas
        </button>
        <button
          type="button"
          class="btn btn-info boton-resumen "
          (click)="generarResumen()"
          data-bs-toggle="modal"
          data-bs-target="#modalResumen"
        >
          Guardar Lista
        </button>
      </div>

      <div class="d-flex justify-content-center align-items-center mt-4 mb-4" *ngIf="!currentUser">
        <div class="col-12 col-xl btn-pestaña-1  card-redondeada-2 escenarioMasEcomonico mx-2 mw-100">
          <div class=" text-light d-flex justify-content-center">
            <div class="row">
              <div class="col-md-4 col-12 text-center">
                <a class="btn btn-info" routerLink="/login" [queryParams]="{estadoConsulta: true }">Iniciá sesión</a>
              </div>
              <div class="col-md-8 col-12 text-center inicia-sesion">
                <p class="textoEnBoton">¡Inicia sesión para comparar y guardar tu lista!</p>
              </div>
            </div>
            
          </div>
          
          
        </div>
      </div>

     
    </div>
  </div>
</div>





<!-- Modal Resumen-->
<div
  class="modal fade"
  id="modalResumen"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 text-center justify-content-center align-items-center">
          <div class="col-md-12 justify-content-center align-items-center">
            <h3 *ngIf="listaElegidaMasEconomico">Mejores precios</h3>
            <h3 *ngIf="listaElegidaMenorRecorrido"> Menor recorrido</h3>
            <img src="./assets/images/evento-{{idEvento}}.jpg" class="img-evento img-fluid" />
          </div>
            <div class="col-md-12 text-center mt-4 mb-4" *ngIf="listaElegidaMasEconomico">
              <p >
                Ofertas encontradas: {{ cantidadOfertasMasEconomico }}
              </p>

              <p >
                Distancia a recorrer: {{ distanciaMasEconomico }}
              </p>
              <p >
                Comercios: {{ cantidadComerciosMasEconomico }}
              </p>
              
          
          <strong class="comparar-total"
          >Total: ${{ totalMasEconomico}}</strong>
              </div>
                <div class="col-md-12 text-center mt-4 mb-4" *ngIf="listaElegidaMenorRecorrido">
              
                  <p >
                    Ofertas encontradas: {{ cantidadOfertasMenorRecorrido}}
                  </p>
    
                  <p >
                    Distancia a recorrer: {{ distanciaMenorRecorrido}}
                  </p>
                  <p >
                    Comercios: {{ cantidadComerciosMenorRecorrido}}
                  </p>
                  
                  <strong class="comparar-total"
          >Total: ${{ totalListaDeComercio }}</strong>
                </div>
        </div>
        
        <div class="col-md-6 text-center justify-content-center align-items-center">
          <div class="col-md-12 justify-content-center align-items-center">
            <h3>Escaneá el recorrido y abrilo en el GPS:</h3>
            <qrcode [qrdata]="urlRecorrido" [width]="250"></qrcode>
            <h3>O abrilo desde tu celular:</h3>
          </div>
          <div class="col-md-12 d-flex justify-content-center align-items-center mb-4">
            <button
              type="button"
              class="btn btn-primary btn-lg icono-generar"
              (click)="abrirMapaRecorrido()"
              style="margin-right: 10px"
            >
            <svg
            xmlns="http://www.w3.org/2000/svg"
            height="2em"
            viewBox="0 0 448 512"
          >
            
            <style>
              svg {
                fill: #ffffff;
              }
            </style>
            <path
              d="M429.6 92.1c4.9-11.9 2.1-25.6-7-34.7s-22.8-11.9-34.7-7l-352 144c-14.2 5.8-22.2 20.8-19.3 35.8s16.1 25.8 31.4 25.8H224V432c0 15.3 10.8 28.4 25.8 31.4s30-5.1 35.8-19.3l144-352z"
            />
          </svg>
              Abrir GPS
            </button>
            <button
              type="button"
              class="btn btn-primary btn-lg icono-generar"
              (click)="compartirLista()"
            >
            <svg
            xmlns="http://www.w3.org/2000/svg"
            height="2em"
            viewBox="0 0 448 512"
          >
            
            <style>
              svg {
                fill: #ffffff;
              }
            </style>
            <path
              d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
            />
          </svg>
            
              Compartir
            </button>
          </div>
          
          
        </div>
        
      </div>

       <div class="row">
        <div class="col-md-12 .scrollable-list scrollable-list-comparar">
          <div class="table-responsive">
            <table
            class="table tabla-redondeada"
            data-aos="fade-up"
            data-aos-delay="100"
            *ngIf="listaElegidaMenorRecorrido"
          >
            <thead>
              <tr class="fila list text-center align-middle">
                <th></th>
                <th>Producto</th>
                <th>Marca</th>
                <th>Comercio</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="fila list text-center align-middle"
                *ngFor="let oferta of aListaSeleccionComercio"
              >
                <th scope="row">
                  <img
                    [src]="oferta.oferta.imagen"
                    class="card-img-top mx-auto img-producto-tabla"
                  />
                </th>
                <td class="align-middle">
                  {{ oferta.oferta.nombreProducto }}
                </td>
                <td class="align-middle">
                  {{ oferta.oferta.marca }}
                </td>
                <td class="align-middle">
                  {{ oferta.oferta.nombreComercio }}
                </td>
                <td class="align-middle precio-tabla">
                  ${{ oferta.oferta.precio }}
                </td>
                <td class="align-middle precio-tabla">
                  {{ oferta.cantidad }}
                </td>
                <td class="align-middle precio-tabla">
                  ${{ oferta.subtotal }}
                </td>
              </tr>
            </tbody>
          </table>
          <table
          class="table tabla-redondeada"
          data-aos="fade-up"
          data-aos-delay="100"
          *ngIf="listaElegidaMasEconomico"
        >
          <thead>
            <tr class="fila list text-center align-middle">
              <th></th>
              <th>Producto</th>
              <th>Marca</th>
              <th>Comercio</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="fila list text-center align-middle"
              *ngFor="let oferta of listaOfertasElegidasMasEconomico"
            >
              <th scope="row">
                <img
                  [src]="oferta.oferta.imagen"
                  class="card-img-top mx-auto img-producto-tabla"
                />
              </th>
              <td class="align-middle">
                {{ oferta.oferta.nombreProducto }}
              </td>
              <td class="align-middle">
                {{ oferta.oferta.marca }}
              </td>
              <td class="align-middle">
                {{ oferta.oferta.nombreComercio }}
              </td>
              <td class="align-middle precio-tabla">
                ${{ oferta.oferta.precio }}
              </td>
              <td class="align-middle precio-tabla">
                {{ oferta.cantidad }}
              </td>
              <td class="align-middle precio-tabla">
                ${{ oferta.subtotal }}
              </td>
            </tr>
          </tbody>
        </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
        Cerrar
      </button>
      <button
        *ngIf="listaElegidaMasEconomico"
        class="btn btn-info"
        style="color: white"
        data-bs-dismiss="modal"
        (click)="guardarLista(listaOfertasElegidasMasEconomico, distanciaMasEconomico)"
      >
        Guardar Lista
      </button>
      <button
        *ngIf="listaElegidaMenorRecorrido"
        class="btn btn-info"
        style="color: white"
        data-bs-dismiss="modal"
        (click)="guardarLista(aListaSeleccionComercio, distanciaMenorRecorrido)"
      >
        Guardar Lista
      </button>
    </div>
  </div>
</div>
</div>



<!-- Modal Comparar -->
<div
  class="modal fade"
  id="modalCompararEscenarios"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 text-center">
            <div class="row">
              <div class="col-md-6 text-center">
                <h1>Mejores precios</h1>
                <img
                  src="../../../../assets/images/comparar-mas-economico2.jpg"
                  class="img-comparar"
                />
              </div>
              <div
                class="col-md-6 text-center d-flex align-items-center justify-content-center"
              >
                <div>
                  <p class="texto-comparar">
                    Ofertas encontradas: {{ cantidadOfertasMasEconomico }}
                  </p>

                  <p class="texto-comparar">
                    Distancia a recorrer: {{ distanciaMasEconomico }}
                  </p>
                  <p class="texto-comparar">
                    Comercios: {{ cantidadComerciosMasEconomico }}
                  </p>
                  <br />
                  <strong class="comparar-total"
                    >Total: ${{ totalMasEconomico }}</strong
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <div class="row">
              <div class="col-md-6 text-center">
                <h1>Menor recorrido</h1>
                <img
                  src="../../../../assets/images/comparar-menor-recorrido.jpg"
                  class="img-comparar"
                />
              </div>
              <div
                class="col-md-6 text-center d-flex align-items-center justify-content-center"
              >
                <div>
                  <p class="texto-comparar">
                    Ofertas encontradas: {{ cantidadOfertasMenorRecorrido }}
                  </p>

                  <p class="texto-comparar">
                    Distancia a recorrer: {{ distanciaMenorRecorrido }}
                  </p>

                  <p class="texto-comparar">
                    Comercio: {{ cantidadComerciosMenorRecorrido }}
                  </p>
                  <br />
                  <strong class="comparar-total"
                    >Total: ${{ totalListaDeComercio }}</strong
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 .scrollable-list scrollable-list-comparar">
            <div class="table-responsive">
              <table
                class="table tabla-redondeada"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <thead>
                  <tr class="fila list text-center align-middle">
                    <th></th>
                    <th>Producto</th>
                    <th>Marca</th>
                    <th>Comercio</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="fila list text-center align-middle"
                    *ngFor="let oferta of listaOfertasElegidasMasEconomico"
                  >
                    <th scope="row">
                      <img
                        [src]="oferta.oferta.imagen"
                        class="card-img-top mx-auto img-producto-tabla"
                      />
                    </th>
                    <td class="align-middle">
                      {{ oferta.oferta.nombreProducto }}
                    </td>
                    <td class="align-middle">
                      {{ oferta.oferta.marca }}
                    </td>
                    <td class="align-middle">
                      {{ oferta.oferta.nombreComercio }}
                    </td>
                    <td class="align-middle precio-tabla">
                      ${{ oferta.oferta.precio }}
                    </td>
                    <td class="align-middle precio-tabla">
                      {{ oferta.cantidad }}
                    </td>
                    <td class="align-middle precio-tabla">
                      ${{ oferta.subtotal }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6 .scrollable-list scrollable-list-comparar">
            <div class="table-responsive">
              <table
                class="table tabla-redondeada"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <thead>
                  <tr class="fila list text-center align-middle">
                    <th></th>
                    <th>Producto</th>
                    <th>Marca</th>
                    <th>Comercio</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="fila list text-center align-middle"
                    *ngFor="let oferta of aListaSeleccionComercio"
                  >
                    <th scope="row">
                      <img
                        [src]="oferta.oferta.imagen"
                        class="card-img-top mx-auto img-producto-tabla"
                      />
                    </th>
                    <td class="align-middle">
                      {{ oferta.oferta.nombreProducto }}
                    </td>
                    <td class="align-middle">
                      {{ oferta.oferta.marca }}
                    </td>
                    <td class="align-middle">
                      {{ oferta.oferta.nombreComercio }}
                    </td>
                    <td class="align-middle precio-tabla">
                      ${{ oferta.oferta.precio }}
                    </td>
                    <td class="align-middle precio-tabla">
                      {{ oferta.cantidad }}
                    </td>
                    <td class="align-middle precio-tabla">
                      ${{ oferta.subtotal }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Oferta-->
<div
  class="modal fade"
  id="modalEditar"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <h1 *ngIf="!quiereEliminar">Cambiar marca, cantidad de unidades o eliminar</h1>

        <ngb-carousel
          [id]="'carousel' + productoElegidoParaEditar.nombreProducto"
          [interval]="-1"
          [showNavigationArrows]="true"
                [showNavigationIndicators]="true"
        >

          <ng-template ngbSlide let-publicacion let-j="index" *ngFor="let producto of ofertasProductoElegidoParaEditar; let i = index"> 
            <div  data-aos="zoom-in" *ngIf="quiereEliminar" class="mb-4" role="alert">
              ¿Está seguro que desea eliminar?
              <button type="button" class="btn btn-outline-info" (click)="cancelarEliminarOferta()">
                Cancelar
              </button>
              <button type="button" class="btn btn-info" data-bs-dismiss="modal" (click)="eliminarOferta(idProductoAEliminar)">
                Confirmar
              </button>
            </div>
            <app-card-oferta
            class="d-flex justify-content-center"
            [nombreProducto]="producto.oferta.nombreProducto"
            [marca]="producto.oferta.marca"
            [precio]="producto.oferta.precio"
            [nombreComercio]="producto.oferta.nombreComercio"
            [imagen]="producto.oferta.imagen"
            [subtotal]="producto.subtotal"
            [cantidad]="producto.cantidad"
            [fechaVencimiento]="producto.oferta.fechaVencimiento"
            [idProducto]="producto.oferta.idTipoProducto"
            [oferta]="producto"
            [editar]="true"
            [i]="i"
            [rol]="1"
            (idMarcaProductoSeleccionadoActual)="cambiarMarca($event)"
            (cantidadActualizada)="cambiarCantidad($event)"
            (eliminarOferta)="eliminarOfertaConfirmar($event)"
          ></app-card-oferta>
          </ng-template>
        </ngb-carousel>
        
        <img src="./assets/images/banner.jpg" class="card-redondeada card-redondeada-full" calt="" style="max-width: 300px;">
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-bs-dismiss="modal" (click)="actualizarDatosAmbosEscenarios()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>


<section *ngIf="cargando" class="d-flex justify-content-center contenedor align-items-center">
  <article class="card card-redondeada card-redondeada-full card-redondeada-2 x-auto p-3" style="max-width: 500px">
    <div class="modal-body text-center">
      <h1>Buscando ofertas...</h1>

      <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>

        <div class="image-container">
          <img src="./assets/images/asistente-transparente.png" class="mt-4" alt="" style="width:250px;">
        </div>
      </div>
    </div>
  </article>
</section>

 