.div-optimizador{
  padding-top: 50px;
}

.activo{
  background-color: green;
}

.inactivo{
  background-color: red;
}

.escenario-mas-economico{
  margin-bottom: 20px;
}

.escenario-menor-recorrido {
  margin-bottom: 20px;
}

.card-redondeada {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
}

.imagen-izquierda img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.contenido-derecha {
  flex: 1;
}

.contenido-derecha h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.contenido-derecha p {
  font-size: 16px;
  color: #666666;
}

