<div class="container-fluid div-optimizador">
  <div class="row">
    <div class="col-xl-3">
      <img src="/assets/images/MateoMejorOferta1.gif" width="500px" />
    </div>

    <div class="col-xl-5">
      <div class="container">
        <div class="d-flex justify-content-center">
          <ul class="nav nav-tabs d-flex">
            <li class="nav-item">
              <div class="d-flex flex-column">
                <button
                  class="btn btn-pestaña-1 card-redondeada"
                  [ngClass]="{ active: isOpenDiv1 }"
                  (click)="toggleDiv1()"
                >
                  <img
                    src="../../../../assets/icons/precio.svg"
                    alt="Imagen"
                    class="imagen-izquierda"
                  />
                  <div class="contenido-derecha text-light fs-6">
                    <h3>Mejores precios</h3>
                    <p class="textoEnBoton">
                      Comercios: {{ cantidadComerciosMasEconomico }} <br />
                      Distancia a recorrer: {{ distanciaMasEconomico }}<br />
                      <br />
                    </p>
                    <strong> Total: ${{ totalMasEconomico }}</strong>
                  </div>
                </button>
              </div>
              <!-- <a class="nav-link active" aria-current="page" href="#">Active</a> -->
            </li>
            <li class="nav-item">
              <div [ngClass]="{ active: isOpenDiv2 }">
                <button
                  class="btn btn-pestaña-2 card-redondeada"
                  (click)="toggleDiv2()"
                >
                  <img
                    src="../../../../assets/icons/Comercio.svg"
                    alt="Imagen"
                    class="imagen-izquierda"
                  />
                  <div class="contenido-derecha text-light">
                    <h3 class="title">Menor recorrido</h3>
                    <p class="textoEnBoton">
                      Comercios: {{ cantidadComerciosMasEconomico }} <br />
                      Distancia a recorrer: {{ distanciaMasEconomico }}<br />
                      <br />
                    </p>
                    <strong class="mt-3">
                      Total: ${{ totalListaDeComercio }}</strong
                    >
                  </div>
                </button>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <div
            class="col-12 container-lista scrollable-list"
            *ngIf="isOpenDiv1"
            style="background-color: #952fdb"
          >
            <div
              *ngFor="let producto of aListaProductos; let i = index"
              data-aos="fade-up"
              [attr.data-aos-delay]="0"
            >
              <ngb-carousel
                [interval]="-1"
                *ngIf="producto.ofertas.length > 0"
                [showNavigationArrows]="producto.showArrows"
                [showNavigationIndicators]="false"
              >
                <ng-template
                  ngbSlide
                  let-j="index"
                  *ngFor="let publicacion of producto.ofertas"
                >
                  <div class="picsum-img-wrapper">
                    <app-card-oferta
                      class="d-flex justify-content-center"
                      [nombreProducto]="publicacion.oferta.nombreProducto"
                      [marca]="publicacion.oferta.marca"
                      [precio]="publicacion.oferta.precio"
                      [nombreComercio]="publicacion.oferta.nombreComercio"
                      [imagen]="publicacion.oferta.imagen"
                      [subtotal]="publicacion.subtotal"
                      [cantidad]="publicacion.cantidad"
                      [idProducto]="publicacion.oferta.idPublicacion"
                      [oferta]="publicacion"
                      [i]="i"
                      (ofertaSeleccionadaActual)="cambiarMarca($event)"
                    ></app-card-oferta>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
          <div
            class="col-12 container-lista"
            *ngIf="isOpenDiv2"
            style="background-color: #d1201b"
          >
            <div
              class="rounded-pill mt-3 text-body-emphasis text-light p-2 d-flex row align-self-start"
            >
              <h2>Recorré menos!</h2>
              <!-- <h3> Te ofrecemos todas las ofertas en un solo lugar</h3>
              <p class="fs-6 ms-1"><i class="bi bi-caret-right-fill"></i>Hace click en cada comercio para ver la lista
                completa de ofertas</p>
              <p class="fs-6 ms-1"><i class="bi bi-caret-right-fill"></i>Seleccioná una lista para compararla con las
                mejores ofertas dentro de tu radio</p> -->
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div
                      class="d-flex flex-column"
                      *ngFor="let comercio of aListaComercios; let i = index"
                    >
                      <button
                        class="btn btn-primary mt-2"
                        id="boton{{ comercio.nombreComercio }}"
                        (click)="onClickVerListaDeComercio(comercio, i)"
                        [class.active]="activeButton === i"
                      >
                        <div class="imagen-izquierda">
                          <img
                            src="../../../../assets/icons/Comercio.svg"
                            alt="Imagen"
                            width="20px"
                          />
                        </div>
                        <div class="contenido-derecha text-light">
                          <h3>{{ comercio.nombreComercio }}</h3>
                          <p class="text-light">
                            Total: $ {{ comercio.total }}
                          </p>
                        </div>
                      </button>
                    </div>
                  </div>

                  <div class="col-md-8" *ngIf="isOpenListaSeleccionComercio">
                    <div
                      *ngFor="
                        let producto of aListaSeleccionComercio;
                        let i = index
                      "
                      data-aos="fade-up"
                      [attr.data-aos-delay]="100"
                      class="d-flex justify-content-center"
                    >
                      <app-card-comercio
                        class="mb-3"
                        [nombreProducto]="producto.nombreProducto"
                        [marca]="producto.marca"
                        [precio]="producto.precio"
                        [nombreComercio]="producto.nombreComercio"
                        [imagen]="producto.imagen"
                      >
                      </app-card-comercio>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div *ngFor="let oferta of aListaOfertas; let i = index" data-aos="fade-up" [attr.data-aos-delay]="100"
              class="d-flex justify-content-center">
              <app-card-oferta class="mt-3" [nombreProducto]="oferta.nombreProducto" [marca]="oferta.marca" [precio]="oferta.precio"
                [nombreComercio]="oferta.nombreComercio" [imagen]="oferta.imagen">
              </app-card-oferta>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
               
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <!-- mapa -->
      <div style="padding-top: 10px">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#modalCompararEscenarios"
        >
          Comparar listas
        </button>
        <app-mapa
          [valorRadioElegido]="radioElegido"
          [slider]="false"
          (valorRadioEnviado)="capturarValorRadio($event)"
        ></app-mapa>
      </div>

      <div>
        <button
          type="button"
          class="btn btn-primary btn-lg icono-generar"
          (click)="obtenerResumen()"
          *ngIf="!bEstaLogueado"
        >
          Resumen de lista
        </button>
      </div>
    </div>
  </div>
  <!-- resumen -->
  <!-- <div class="container-fluid" *ngIf="resumen">
    <div class="justify-content-center align-items-center">
      <div class="card card-optimizar">
        <div class="card-body p-5">
          <div class="row">
            <div class="col-md-12"></div>
            <div class="row">
              <h2>Resumen de tu lista para el evento: {{ nombreEvento }}</h2>
              <div class="linea-titulo-resumen"></div>
              <div class="col-xl-4 col-md-12">
                <img src="assets/images/asistente-transparente.png" alt="" height="600px" />
              </div>
              <div class="col-xl-4 col-md-12">
                <div>
                  <h2>Qué comprar y en donde:</h2>
                  <br />
                  <br />
                </div>
                <div class="wrapper">
                  <ol class="c-timeline">
                    <ng-container
                      *ngFor="
                        let offerGroup of groupOffersByCommerceName(
                          listaOfertaElegida
                        )
                      "
                    >
                      <li class="c-timeline__item">
                        <div class="c-timeline__content">
                          <div class="c-timeline__details">
                            <h2 class="titulo-linea-tiempo">
                              {{ offerGroup[0].nombreComercio }}
                            </h2>
                            <p class="c-timeline__desc">
                              {{ offerGroup[0].localidad }}
                            </p>
                          </div>
                          <div class="c-timeline__images col-md-8">
                            <ng-container
                              *ngFor="let ofertaSeleccionada of offerGroup"
                            >
                              <img
                                src="{{ ofertaSeleccionada.imagen }}"
                                class="mx-auto img-stepper"
                              />
                            </ng-container>
                          </div>
                        </div>
                      </li>
                    </ng-container>
                  </ol>
                </div>
              </div>
              <div class="col-xl-4 col-md-12">
                <h2>Información:</h2>
                <div>
                  <br />
                  <p>
                    Escanea el código QR para abrir el GPS
                  </p>
                  <ngx-qrcode
                    [elementType]="elementType"
                    [value]="value"
                    cssClass="aclass"
                    [errorCorrectionLevel]="errorCorrectionLevel"
>
                  </ngx-qrcode>
                </div>
 
                <div>
                  <br>
                  <h2>Datos del trayecto:</h2>
                  <br />
                  <p>Distancia a recorrer: {{ distanciaElegida }}</p>
                  <p>Comercios a visitar: {{ comerciosElegido }}</p>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <button
                      type="button"
                      class="btn btn-primary btn-lg icono-generar"
                      (click)="shareMap()"
                    >
                      <img
                        src="assets/icons/whatsapp.svg"
                        alt="Icono económico"
                        width="40"
                        height="40"
                        class="icono-boton-compartir"
                      />
                      Compartir recorrido
                    </button>
                  </div>
                  <div class="col-md-6">
                 
                    <button
                    type="button"
                    class="btn btn-primary btn-lg icono-generar"
                    (click)="elegirOtroEscenario()"
                  >
                    Regresar
                  </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Modal -->
  <div
    class="modal fade"
    id="modalCompararEscenarios"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          
          <div class="row">
            <div class="col-md-6">
              
              <div class="image-container">
                <img src="/assets/images/evento-{{ idEvento }}.jpg" class="img-fluid"/>
              </div>
            </div>
            <div class="col-md-6">
              <app-mapa 
                [valorRadioElegido]="radioElegido"
                [slider]="false"
                (valorRadioEnviado)="capturarValorRadio($event)"
                
              ></app-mapa>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 scrollable-list scrollable-list-comparar">
              <div class="table-responsive">
                <table
                  class="table tabla-redondeada"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                  <tbody>
                    <tr
                      class="fila list text-center align-middle"
                      *ngFor="let oferta of listaOfertasElegidasMasEconomico"
                    >
                      <th scope="row">
                        <img
                          [src]="oferta.oferta.imagen"
                          class="card-img-top mx-auto img-producto-tabla"
                        />
                      </th>
                      <td class="align-middle">
                        {{ oferta.oferta.nombreProducto }}
                      </td>
                      <td class="align-middle">
                        {{ oferta.oferta.marca }}
                      </td>
                      <td class="align-middle">
                        {{ oferta.oferta.nombreComercio }}
                      </td>
                      <td class="align-middle precio-tabla">
                        ${{ oferta.oferta.precio }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-6 scrollable-list scrollable-list-comparar">
              <div class="table-responsive">
                <table
                  class="table tabla-redondeada"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                  <tbody>
                    <tr
                      class="fila list text-center align-middle"
                      *ngFor="let oferta of listaOfertasElegidasMasEconomico"
                    >
                      <th scope="row">
                        <img
                          [src]="oferta.oferta.imagen"
                          class="card-img-top mx-auto img-producto-tabla"
                        />
                      </th>
                      <td class="align-middle">
                        {{ oferta.oferta.nombreProducto }}
                      </td>
                      <td class="align-middle">
                        {{ oferta.oferta.marca }}
                      </td>
                      <td class="align-middle">
                        {{ oferta.oferta.nombreComercio }}
                      </td>
                      <td class="align-middle precio-tabla">
                        ${{ oferta.oferta.precio }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar lista</button>
        </div>
      </div>
    </div>
  </div>
</div>
