<div class="container-fluid div-optimizador">
  <div class="row">
    <div class="col-xl-3">
      
      <img src="/assets/images/{{imagenLista}}.gif"/>


    </div>

    <div class="col-xl-5">
      <div class="container">
        <div class="d-flex justify-content-center">
          <ul class="nav nav-tabs d-flex">
            <li class="nav-item">
              <div class="d-flex flex-column">
                <button
                  class="btn btn-pestaña-1 card-redondeada"
                  [ngClass]="{ active: isOpenDiv1 }"
                  (click)="toggleDiv1()"
                >
                  <img
                    src="../../../../assets/images/comparar-mas-economico2.jpg"
                    alt="Imagen"
                    class="imagen-izquierda"
                  />
                  <div class="contenido-derecha text-light fs-6">
                    <h3>Mejores precios</h3>
                  </div>
                </button>
              </div>
            </li>
            <li class="nav-item">
              <div [ngClass]="{ active: isOpenDiv2 }">
                <button
                  class="btn btn-pestaña-2 card-redondeada"
                  (click)="toggleDiv2()"
                >
                  <img
                    src="../../../../assets/images/comparar-menor-recorrido.jpg"
                    alt="Imagen"
                    class="imagen-izquierda"
                  />
                  <div class="contenido-derecha text-light">
                    <h3 class="title">Menor recorrido</h3>
                  </div>
                </button>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <div
            class="col-12 container-lista scrollable-list"
            *ngIf="isOpenDiv1"
            style="background-color: #019494e9"

          >
            <div *ngFor="let producto of aListaProductos; let i = index">
              <ngb-carousel
                [interval]="-1"
                *ngIf="producto.ofertas.length > 0"
                [showNavigationArrows]="producto.showArrows"
                [showNavigationIndicators]="false"
              >
                <ng-template
                  ngbSlide
                  let-j="index"
                  *ngFor="let publicacion of producto.ofertas"
                >
                  <div class="picsum-img-wrapper">
                    <app-card-oferta
                      class="d-flex justify-content-center"
                      [nombreProducto]="publicacion.oferta.nombreProducto"
                      [marca]="publicacion.oferta.marca"
                      [precio]="publicacion.oferta.precio"
                      [nombreComercio]="publicacion.oferta.nombreComercio"
                      [imagen]="publicacion.oferta.imagen"
                      [subtotal]="publicacion.subtotal"
                      [cantidad]="publicacion.cantidad"
                      [idProducto]="publicacion.oferta.idPublicacion"
                      [oferta]="publicacion"
                      [i]="i"
                      (ofertaSeleccionadaActual)="cambiarMarca($event)"
                    ></app-card-oferta>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
          <div
            class="col-12 container-lista"
            *ngIf="isOpenDiv2"
            style="background-color: #e05205dc"
          >
            <div
              class="rounded-pill mt-3 text-body-emphasis text-light p-2 d-flex row align-self-start"
            >
              <!-- <h3> Te ofrecemos todas las ofertas en un solo lugar</h3>
              <p class="fs-6 ms-1"><i class="bi bi-caret-right-fill"></i>Hace click en cada comercio para ver la lista
                completa de ofertas</p>
              <p class="fs-6 ms-1"><i class="bi bi-caret-right-fill"></i>Seleccioná una lista para compararla con las
                mejores ofertas dentro de tu radio</p> -->
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div
                      class="d-flex flex-column"
                      *ngFor="let comercio of aListaComercios; let i = index"
                    >
                      <button
                        class="btn btn-primary mt-2"
                        id="boton{{ comercio.nombreComercio }}"
                        (click)="onClickVerListaDeComercio(comercio, i)"
                        [class.active]="activeButton === i"
                      >
                        <div>
                          <img
                            src="../../../../assets/icons/Comercio.svg"
                            alt="Imagen"
                            width="50px"
                          />
                        </div>
                        <div class="contenido-derecha text-light">
                          <h3>{{ comercio.nombreComercio }}</h3>
                          <p class="text-light">
                            Total: $ {{ totalListaDeComercio }}
                          </p>
                        </div>
                      </button>
                    </div>
                  </div>

                  <div class="col-md-8" *ngIf="isOpenListaSeleccionComercio">
                    <div
                      *ngFor="
                        let producto of aListaSeleccionComercio;
                        let i = index
                      "
                      data-aos="fade-up"
                      [attr.data-aos-delay]="100"
                      class="d-flex justify-content-center"
                    >
                      <app-card-comercio
                        class="mb-3"
                        [nombreProducto]="producto.oferta.nombreProducto"
                        [marca]="producto.oferta.marca"
                        [precio]="producto.oferta.precio"
                        [cantidad]="producto.cantidad"
                        [subtotal]="producto.subtotal"
                        [nombreComercio]="producto.oferta.nombreComercio"
                        [imagen]="producto.oferta.imagen"
                      >
                      </app-card-comercio>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="d-flex justify-content-center align-items-center">
        <ul class="nav nav-tabs d-flex justify-content-center">
          <li class="nav-item">
            <div class=" escenario-mas-economico">
              <button class="btn btn-pestaña-1 card-redondeada card-redondeada-2 escenarioMasEcomonico" [ngClass]="{ active: isOpenDiv1 }">
                <img src="../../../../assets/images/comparar-mas-economico2.jpg" alt="Imagen" class="imagen-izquierda" />
                <div class="contenido-derecha text-light fs-6">
                  
                  <p class="textoEnBoton">
                    Ofertas encontradas: {{ cantidadOfertasMasEconomico }}
                  </p>
                  <p class="textoEnBoton">
                    Distancia a recorrer: {{ distanciaMasEconomico }}
                  </p>
                  <p class="textoEnBoton">
                    Comercios: {{ cantidadComerciosMasEconomico }}
                  </p>
                  <div class="linea-titulo"></div>

                  <strong class="total"> Total: ${{ totalMasEconomico }}</strong>
                </div>
              </button>
            </div>
          </li>
          <li class="nav-item">
            <div class="div-optimizador escenario-menor-recorrido">
              <button class="btn btn-pestaña-2 card-redondeada card-redondeada-2 escenarioMenorRecorrido" [ngClass]="{ active: isOpenDiv1 }">
                <img src="../../../../assets/images/comparar-menor-recorrido.jpg" alt="Imagen" class="imagen-izquierda" />
                <div class="contenido-derecha text-light">
                  
                  <p class="textoEnBoton">
                    Ofertas encontradas: {{ cantidadOfertasMenorRecorrido }}
                  </p>
                  <p class="textoEnBoton">
                    Distancia a recorrer: {{ distanciaMenorRecorrido }}
                  </p>
                  <p class="textoEnBoton">
                    Comercios: {{ cantidadComerciosLista }}
                  </p>
                  <div class="linea-titulo"></div>

                  <strong class="total"> Total: ${{totalListaDeComercio}}</strong>
                </div>
              </button>
            </div>
          </li>
        </ul>
      </div>
      

      <!-- Button trigger modal -->
      <div class="d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-primary boton-resumen" data-bs-toggle="modal" data-bs-target="#modalCompararEscenarios">
          Comparar Listas
        </button>
        <button type="button" class="btn btn-primary boton-resumen" data-bs-toggle="modal" data-bs-target="#modalCompararEscenarios">
          Guardar Lista
        </button>
      </div>
      

      <!-- mapa -->
      <div>
        <app-mapa
          [valorRadioElegido]="radioElegido"
          [slider]="false"
          (valorRadioEnviado)="capturarValorRadio($event)"
        ></app-mapa>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalCompararEscenarios"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 text-center">
            <div class="row">
              <div class="col-md-6 text-center">
                <h1>Mejores precios</h1>
                <img
                  src="../../../../assets/images/comparar-mas-economico.jpg"
                  class="img-comparar"
                />
              </div>
              <div
                class="col-md-6 text-center d-flex align-items-center justify-content-center"
              >
                <div>
                  <p class="texto-comparar">
                    Ofertas encontradas: {{ cantidadOfertasMasEconomico }}
                  </p>

                  <p class="texto-comparar">
                    Distancia a recorrer: {{ distanciaMasEconomico }}
                  </p>
                  <p class="texto-comparar">
                    Comercios: {{ cantidadComerciosMasEconomico }}
                  </p>
                  <br />
                  <strong class="comparar-total"
                    >Total: ${{ totalMasEconomico }}</strong
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <div class="row">
              <div class="col-md-6 text-center">
                <h1>Menor recorrido</h1>
                <img
                  src="../../../../assets/images/comparar-menor-recorrido.jpg"
                  class="img-comparar"
                />
              </div>
              <div
                class="col-md-6 text-center d-flex align-items-center justify-content-center"
              >
                <div>
                  <p class="texto-comparar">
                    Ofertas encontradas: {{ cantidadOfertasMenorRecorrido }}
                  </p>

                  <p class="texto-comparar">
                    Distancia a recorrer: {{ distanciaMenorRecorrido }}
                  </p>

                  <p class="texto-comparar">
                    Comercio: {{ cantidadComerciosMenorRecorrido }}
                  </p>
                  <br />
                  <strong class="comparar-total"
                    >Total: ${{ totalListaDeComercio }}</strong
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 .scrollable-list scrollable-list-comparar">
            <div class="table-responsive">
              <table
                class="table tabla-redondeada"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <thead>
                  <tr class="fila list text-center align-middle">
                    <th></th>
                    <th>Producto</th>
                    <th>Marca</th>
                    <th>Comercio</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="fila list text-center align-middle"
                    *ngFor="let oferta of listaOfertasElegidasMasEconomico"
                  >
                    <th scope="row">
                      <img
                        [src]="oferta.oferta.imagen"
                        class="card-img-top mx-auto img-producto-tabla"
                      />
                    </th>
                    <td class="align-middle">
                      {{ oferta.oferta.nombreProducto }}
                    </td>
                    <td class="align-middle">
                      {{ oferta.oferta.marca }}
                    </td>
                    <td class="align-middle">
                      {{ oferta.oferta.nombreComercio }}
                    </td>
                    <td class="align-middle precio-tabla">
                      ${{ oferta.oferta.precio }}
                    </td>
                    <td class="align-middle precio-tabla">
                      {{ oferta.cantidad }}
                    </td>
                    <td class="align-middle precio-tabla">
                      ${{ oferta.subtotal }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6 .scrollable-list scrollable-list-comparar">
            <div class="table-responsive">
              <table
                class="table tabla-redondeada"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <thead>
                  <tr class="fila list text-center align-middle">
                    <th></th>
                    <th>Producto</th>
                    <th>Marca</th>
                    <th>Comercio</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="fila list text-center align-middle"
                    *ngFor="let oferta of aListaSeleccionComercio"
                  >
                    <th scope="row">
                      <img
                        [src]="oferta.oferta.imagen"
                        class="card-img-top mx-auto img-producto-tabla"
                      />
                    </th>
                    <td class="align-middle">
                      {{ oferta.oferta.nombreProducto }}
                    </td>
                    <td class="align-middle">
                      {{ oferta.oferta.marca }}
                    </td>
                    <td class="align-middle">
                      {{ oferta.oferta.nombreComercio }}
                    </td>
                    <td class="align-middle precio-tabla">
                      ${{ oferta.oferta.precio }}
                    </td>
                    <td class="align-middle precio-tabla">
                      {{ oferta.cantidad }}
                    </td>
                    <td class="align-middle precio-tabla">
                      ${{ oferta.subtotal }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
