.div-optimizador{
  padding-top: 50px;
}
.btn-pestaña-1{
  background-color: #952FDB !important;
}
.btn-pestaña-2{
  background-color: #D1201B !important;
}
.container-lista{
  border-radius: 10px !important;
  padding: 20px;
}
.activo{
  background-color: green;
}

.inactivo{
  background-color: red;
}

.escenario-mas-economico{
  margin-bottom: 20px;
}

.escenario-menor-recorrido {
  margin-bottom: 20px;
}

.card-redondeada {
  display: flex;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 250px;
  padding: 10px;
}

.imagen-izquierda img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.contenido-derecha {
  flex: 1;
}

.contenido-derecha h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.contenido-derecha p {
  font-size: 16px;
 
}

.form-range-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  }
  
  .form-range {
  width: 100%;
  }
  
  .range-value {
  position: absolute;
  top: -50px;
  left: 0;
  transform: translateX(-50%);
  font-size: 20px;
  color: #fff;
  background-color: #4e80a8;
  padding: 8px 16px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  ::ng-deep .carousel-control-prev-icon{
    background-image: url('https://img.icons8.com/?size=512&id=40217&format=png');
  }
  ::ng-deep .carousel-control-next-icon{
    background-image: url('https://img.icons8.com/?size=512&id=7849&format=png');
  }
  

