<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <img src="assets/images/isotipo-blanco.png" alt="" class="isotipo" />
    <h1>Eventify: Tu asistente de compras</h1>
    <h2>¡Descubrí las mejores ofertas cercanas a vos para tu evento!</h2>
    <a href="#about" class="btn-get-started boton-comenzar">Comenzá</a>
  </div>
</section>
<!-- End Hero Section -->
<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row about-container">
        <div class="col-lg-6 content order-lg-1 order-2">
          <h3 class="title">Mateo: tu asistente virtual</h3>
          <!-- <p>
            Con él vas a descubrir las mejores ofertas de productos para tu
            evento, cercanos a tu ubicación, a pocos clics de distancia.
          </p> -->
          <br />
          <br />

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-dollar-sign fa-lg"></i></div>
            <h4 class="title">Ahorrá dinero</h4>
            <p class="description">
              Te mostrará las mejores ofertas de la zona.
            </p>
          </div>
          <br />
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="far fa-clock"></i></div>
            <h4 class="title">Ahorrá tiempo</h4>
            <p class="description">Te indicará el recorrido más óptimo.</p>
          </div>
          <br />
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="far fa-smile-beam fa-lg"></i></div>
            <h4 class="title">Ahorrate el estrés</h4>
            <p class="description">
              Elegí el evento que quieras organizar, él hará el resto.
            </p>
            <br />
          </div>
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <a href="#about" class="btn-get-started arma-tu-lista"
              >Armá tu lista</a
            >
          </div>
        </div>
        <div
          class="col-lg-6 background order-lg-2 order-1"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <img src="assets/images/asistente-virtual.png" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Facts Section ======= -->
  <section id="facts">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Logros</h3>
        <p class="section-description">
          Estamos constantemente mejorando la experiencia del usuario y
          brindando mejores soluciones.  
        </p>
      </div>
      <div class="row counters">
        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="2410"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Clientes activos</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="3680"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Ofertas publicadas</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="14410"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Listas generadas</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="2170"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Comercios Adheridos</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Facts Section -->

  
  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row about-container">
        <div class="col-lg-12">
          <h2 class="title">¡Personalizá y guardá tus listas al instante!</h2>
          <div data-aos="fade-up" data-aos-delay="100">
            <div class="icon"></div>
            <p class="description" style="font-size: 25px !important;">
              Nuestro algoritmo de recomendaciones se irá ajustando para dar recomendaciones más precisas.
            </p>
          </div>
        </div>
        <div class="col-lg-12" style="display: flex; justify-content: center;" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/images/lista-compra.jpg" alt="" />
        </div>
        
      </div>
    </div>
  </section>
  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Eventos</h3>
        <p class="section-description">
          Elegí el evento que quieras organizar y te ofreceremos los productos adecuados.
        </p>
      </div>

      <div
        class="row portfolio-container"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img
            src="/assets/images/evento-parrillada.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <p>Asado con amigos</p>
            <a
              href="portfolio-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-plus"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img
            src="/assets/images/evento-cumpleaños.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <p>Cumpleaños</p>
            <a
              href="portfolio-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-plus"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img
            src="/assets/images/evento-fiesta.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <p>Fiesta</p>
            <a
              href="portfolio-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-plus"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img
            src="/assets/images/evento-cena.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <p>Comida en familia</p>
            <a
              href="portfolio-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-plus"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img
            src="/assets/images/evento-festivo.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <p>Evento festivo</p>
            <a
              href="portfolio-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-plus"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img
            src="/assets/images/evento-casamiento.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <p>Casamiento</p>
            <a
              href="portfolio-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-plus"></i
            ></a>
          </div>
        </div>

        
      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action">
    <div class="container">
      <div class="row" data-aos="zoom-in"><!-- 
        <div class="col-lg-9 text-center text-lg-start">
          <h3 class="cta-title">Call To Action</h3>
          <p class="cta-text">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#">Call To Action</a>
        </div> -->
      </div>
    </div>
  </section>
  <!-- End Call To Action Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact">
    <div class="container">
      <div class="section-header">
        <h3 class="section-title">¿Tenés un comercio?</h3>
        
        <p class="section-description">Registrate y publicá tus ofertas.</p>
      </div>
    </div>

    <!-- Uncomment below if you wan to use dynamic maps -->
    <!--   <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452"
      width="100%"
      height="380"
      frameborder="0"
      style="border: 0"
      allowfullscreen
    ></iframe> -->

    <div class="container mt-5">
      <div class="row justify-content-center registro-comercio">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <img
              src="assets/images/registrar-logo.png"
              alt=""
              class="logo-seccion-comercio"
            />
            <h1>Registrate</h1>
            <p>
              Clickeá en "Quiero publicar" y llena el formulario con los datos
              de tu comercio
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <img
              src="assets/images/verificar-logo.png"
              alt=""
              class="logo-seccion-comercio"
            />
            <h1>Analizaremos</h1>
            <p>
              Vamos a corroborar tus datos para verificar que sos un comercio
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <img
              src="assets/images/publicar-logo.png"
              alt=""
              class="logo-seccion-comercio"
            />
            <h1>Publicá tus ofertas</h1>
            <p>Una vez que estés habilitado, ya podrás publicar tus ofertas</p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 text-center" data-aos="zoom-in">
          <a href="#about" class="btn-get-started quiero-publicar"
            >Quiero publicar</a
          >
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row about-container">
        <div class="col-lg-6 content order-lg-1 order-2">
          <h2 class="title">Obtené mayor visibilidad</h2>

          <div data-aos="fade-up" data-aos-delay="100">
            <div class="icon"></div>
            <p class="description" style="font-size: 25px !important;">
              Apoyamos a los comercios locales publicando
              sus ofertas en nuestra plataforma.
              Haz que tus clientes cercanos se enteren de
              tus promociones y aumenta tus ventas, sin
              grandes costos en publicidad o marketing.
            </p>
            <img
              src="assets/images/potencia-comercio2.png"
              alt=""
              class="logo-seccion-comercio"
            />
          </div>
        </div>
        <div
          class="col-lg-6 background order-lg-2 order-1"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <img src="assets/images/potencia-comercio.png" alt="" />
        </div>
      </div>
    </div>
  </section>


  <!-- ======= Team Section ======= -->
  <section id="team">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Nuestro Equipo</h3>
        <br />
        <p class="section-description">
          Trabajamos día a día en brindarte la mejor solución a tus necesidades.
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-2 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="pic">
              <img src="assets/images/perfil-alexis.jpg" alt="" />
            </div>
            <h4>Alexis Verba</h4>
            <span>Full Stack Developer</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="pic">
              <img src="assets/images/perfil-carli.jfif" alt="" />
            </div>
            <h4>Carla Galeano</h4>
            <span>Frontend Developer</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="pic">
              <img src="assets/images/perfil-diego.jfif" alt="" />
            </div>
            <h4>Diego Lopez</h4>
            <span>Backend Developer</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <div class="pic">
              <img src="assets/images/perfil-fabri.jfif" alt="" />
            </div>
            <h4>Fabrizio Franco</h4>
            <span>Frontend Developer</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <div class="pic">
              <img src="assets/images/perfil-scar.jfif" alt="" />
            </div>
            <h4>Scarlet Cortes Valdes</h4>
            <span>Backend Developer</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->


  <!-- ======= Services Section ======= -->
  <!-- <section id="services">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Elegí tu evento</h3>
        <p class="section-description">
          Seleccioná entre las distintas opciones la que quieras organizar.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box" id="evento-fiesta">
            <div class="icon">
              <a href=""><i class="bi bi-briefcase"></i></a>
            </div>
            <h4 class="title"><a href="">Cumpleaños</a></h4>
            <p class="description">
              Voluptatum deleniti atque corrupti quos dolores et quas molestias
              excepturi sint occaecati cupiditate non provident
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon">
              <a href=""><i class="bi bi-card-checklist"></i></a>
            </div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">
              Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat tarad limino ata
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon">
              <a href=""><i class="bi bi-bar-chart"></i></a>
            </div>
            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
            <p class="description">
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon">
              <a href=""><i class="bi bi-binoculars"></i></a>
            </div>
            <h4 class="title"><a href="">Magni Dolores</a></h4>
            <p class="description">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon">
              <a href=""><i class="bi bi-brightness-high"></i></a>
            </div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon">
              <a href=""><i class="bi bi-calendar4-week"></i></a>
            </div>
            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
            <p class="description">
              Et harum quidem rerum facilis est et expedita distinctio. Nam
              libero tempore, cum soluta nobis est eligendi
            </p>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- End Services Section -->
</main>
