
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 100px; background-image: url(./assets/images/supermercado.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10 titulo">
          <h1 class="display-2 text-white">Supermercado Dia</h1>
          <p class="text-white mt-0 mb-5">Si pagás más es porque querés</p>
          <button type="button" class="btn-info" >
          Publicar Oferta
        </button>        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="#">
                  <img src="./assets/images/dia.jpg" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
              <a href="#" class="btn btn-sm btn-primary float-right">Editar Perfil</a>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <div>
                    <span class="heading">9</span>
                    <span class="description">Ofertas</span>
                  </div>
                  <div>
                    <span class="heading">89</span>
                    <span class="description">Reseñas</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>Lomas del Mirador
              </div>
              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>Belgrano 2165
              </div>
              <div>
                <i class="ni education_hat mr-2"></i>Horarios: Lunes a sábado de 09:00 a 20:00
              </div>
              <hr class="my-4">
              <a href="#">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Mis ofertas</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <app-card-oferta [nombreProducto]="'Aceite Natura 1.5L'"
            [marca]="'Natura'"
            [precio]="470"
            [nombreComercio]="'Nombre del comercio'"
            [imagen]="'./assets/images/aceite.jpg'"
            [idProducto]="123456789">
</app-card-oferta>
<app-card-oferta [nombreProducto]="'Aceite Natura 1.5L'"
[marca]="'Natura'"
[precio]="470"
[nombreComercio]="'Nombre del comercio'"
[imagen]="'./assets/images/aceite.jpg'"
[idProducto]="123456789">
</app-card-oferta>
<app-card-oferta [nombreProducto]="'Aceite Natura 1.5L'"
[marca]="'Natura'"
[precio]="470"
[nombreComercio]="'Nombre del comercio'"
[imagen]="'./assets/images/aceite.jpg'"
[idProducto]="123456789">
</app-card-oferta>
<app-card-oferta [nombreProducto]="'Aceite Natura 1.5L'"
[marca]="'Natura'"
[precio]="470"
[nombreComercio]="'Nombre del comercio'"
[imagen]="'./assets/images/aceite.jpg'"
[idProducto]="123456789">
</app-card-oferta>
<app-card-oferta [nombreProducto]="'Aceite Natura 1.5L'"
[marca]="'Natura'"
[precio]="470"
[nombreComercio]="'Nombre del comercio'"
[imagen]="'./assets/images/aceite.jpg'"
[idProducto]="123456789">
</app-card-oferta>
<app-card-oferta [nombreProducto]="'Aceite Natura 1.5L'"
[marca]="'Natura'"
[precio]="470"
[nombreComercio]="'Nombre del comercio'"
[imagen]="'./assets/images/aceite.jpg'"
[idProducto]="123456789">
</app-card-oferta>
<app-card-oferta [nombreProducto]="'Aceite Natura 1.5L'"
[marca]="'Natura'"
[precio]="470"
[nombreComercio]="'Nombre del comercio'"
[imagen]="'./assets/images/aceite.jpg'"
[idProducto]="123456789">
</app-card-oferta>
<app-card-oferta [nombreProducto]="'Aceite Natura 1.5L'"
[marca]="'Natura'"
[precio]="470"
[nombreComercio]="'Nombre del comercio'"
[imagen]="'./assets/images/aceite.jpg'"
[idProducto]="123456789">
</app-card-oferta>
<app-card-oferta [nombreProducto]="'Aceite Natura 1.5L'"
[marca]="'Natura'"
[precio]="470"
[nombreComercio]="'Nombre del comercio'"
[imagen]="'./assets/images/aceite.jpg'"
[idProducto]="123456789">
</app-card-oferta>
          </div>
        </div>
      </div>
    </div>
  </div>