$primary:       #1371B0 !default;
$secondary:     #019494e9!default;
$info:           #e05205dc !default;
$danger: #d61710e9 !default;


@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.btn-outline-info :hover{
  color: #ffff !important;
}

.btn-info {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 6px 16px;
  border-radius: 50px;
  transition: 0.5s;
  border: 2px solid #ff6336;
  color: #fff;
  background: #ff6336;
}

.btn-primary {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 6px 16px;
  border-radius: 50px;
  transition: 0.5s;
  border: 2px solid #1371B0;
  color: #fff;
  background: #1371B0;
}

.btn-outline-info{
  border-radius: 50px;
}

.btn-info:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
    
  margin-bottom: 100px;
  }
  
  a {
    color: #ff8153;
    text-decoration: none;
  }
  
  a:hover,
  a:active,
  a:focus {
    color: #ff8153;
    outline: none;
    text-decoration: none;
  }
  
  p {
    padding: 0;
    font-size: 20px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }

  h1{
    font-size: 15px;
  }
  
  
  /*--------------------------------------------------------------
  # Disable AOS delay on mobile
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
