$primary:       #1371B0 !default;
$secondary:     #04BFBF!default;
$info:           #F23030 !default;



@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    font-family: 'Fira Sans', sans-serif    !important;
}

